<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome <%= name %></h1>
    <form action="" method="post">
      Name:
      <input type="text" name="name" id="" />
      Height (m):
      <input type="text" name="height" />
      Weight (kg):
      <input type="text" name="weight" />
      <input type="submit" value="submit" />
    </form>
    <h2>
      <% if (bmi) {%> <% let interpretation; %> <% if (bmi < 18.5) { %>
      interpretation = "Underweight" <% } else if (bmi >= 18.5 && bmi <= 24.9) {
      %> interpretation = "Normal weight" <% } else if (bmi >= 25 && bmi <=
      29.9) { %> interpretation = "Overweight" <% } else { %> interpretation =
      "Obese" <% } %> Your BMI is <%= bmi.toFixed(2) %> <% } %>
    </h2>
  </body>
</html>
